.blinking-cursor {
	font-weight: 500;
	animation: blink 1s step-end infinite;
}

@keyframes blinkCursor {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Button*/
body.dark-mode .MuiButton-contained {
	color: #fff !important;
}
body.bright-mode .MuiButton-contained {
	color: #333 !important;
}
