@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap');
/* Utility */
.m-0 {
	margin: 0;
}

.mb-2 {
	margin-bottom: 20px;
}

.mb-1 {
	margin-bottom: 10px;
}

.img-fluid {
	width: 100%;
}
html {
	min-height: 100%;
	overflow-y: scroll;
}
body {
	font-family: 'Poppins', sans-serif;
	transition: 300ms;
	overflow-x: hidden;
	position: relative;
	min-height: 100%;
	background-attachment: fixed;
}

/* Darkmode styling */
body.dark-mode {
	background: linear-gradient(135deg, #520015, #03002b, #180809, #eb003a)
		no-repeat;
	background-size: cover;
	color: #fff;
}
body.dark-mode .sub-description {
	color: rgba(255, 255, 255, 0.8);
}

body.bright-mode {
	background: linear-gradient(135deg, #f2cfdb, #fcfffa, #ffffff, #f2cfdb)
		no-repeat;
	color: #333;
}

/* colors */
.color-muted {
	color: #a1a1a1;
}

button {
	font-family: 'Roboto' !important;
	text-transform: uppercase;
	font-weight: 700 !important;
}

.scrollbar-variant-1 {
	/* For WebKit-based browsers */
}
.scrollbar-variant-1 ::-webkit-scrollbar {
	width: 8px;
}
.scrollbar-variant-1 ::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}
.scrollbar-variant-1 ::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}
.scrollbar-variant-1 ::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

/* Errors page */
.dark-mode .errors-page a {
	color: rgba(255, 255, 255, 0.7);
	transition: 200ms;
}
.dark-mode .errors-page a:hover {
	color: rgba(255, 255, 255, 0.8);
}
