/* Utility */
.img-fluid {
	width: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	padding-bottom: 10rem;
	transition: 300ms;
}
/* Darkmode styling */
body.dark-mode {
	background-color: #111827;
	color: #fff;
}
body.bright-mode {
	background-color: #fff;
	color: #333;
}

/* colors */
.color-muted {
	color: #a1a1a1;
}
